# Copyright © Advanced Micro Devices, Inc., or its affiliates.
# SPDX-License-Identifier:  MIT
InheritParentConfig: true

CheckOptions:
  - { key: readability-identifier-naming.FunctionIgnoredRegexp, value: '(set_|get_)[^ ]*' }
